.heroine.block {
  background-color: #512b45;
  color:#fff;
  margin-bottom: 50px;
  padding:50px;
}

.heroine h1 {
  font-size:3rem;
}

.heroine.block > div {
  width: 66.6667%;
}


.heroine picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.heroine img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .heroine {
    padding: 40px 32px;
  }
}


@media (width < 900px) {
  .heroine h1 {
    font-size:2rem;
  }
  
  .heroine.block > div {
    width: 100%;
  }
}